<!DOCTYPE html>
<html lang="en">

<head>

{{!-- ---------linkks------------ --}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechBlog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>
                <a href="/">home</a>
            </h1>
            <nav>
            {{!-- 
                DASHBOARD --}}
                {{#if loggedIn}}
                <a href="/dashboard">dashboard</a>
                <button id="logout" class="btn-no-style logout">logout</button>
                {{else}}
                <a href="/login">login</a>
                {{/if}}
            </nav>
        </header>
        <div class="site-row">
            <div class="site-name">
                <h1>Tech Blog</h1>
            </div>
        </div>
        <main>
            {{{ body }}}
        </main>
    </div>
{{!-- -------------------------------for login --------------------------- --}}
    {{#if loggedIn}}
    {{/if}}
</body>

</html>